<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(172, 172, 255);" >


    <div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

        <div>

            <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="usuario" placeholder="Ingrese usuario" required>
        <br><br><br>
        </div>
    
       <div>
    
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="Ingrese contraseña" required>
    
        <br><br><br>
       </div>
    
    
       <div>
        <button>Ingresar</button>
       </div>


    </div>

   
    
</body>
</html>