<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de QR</title>
</head>
<body style="background-color: rgb(107, 195, 239);">
    
    <header>
        <h1 style="text-align: center; font-size: 35px;">Generar QR con API</h1>
    </header>

    <div style="margin: 50px;">

        <div style="text-align: center;">

        <label for="input1">Nombre: </label>
        <input type="text" id="input1" required maxlength="150" placeholder="Ingresa tu nombre">

        <br>
        <br>

        <label for="input2">Correo: </label>
        <input type="email" id="input2" required max="100" placeholder="Ingresa tu correo">
        <br>
        <br>

        <label for="input3">Selección de institución: </label>
        <input type="text" id="input3" required list="listaEscuelas">
        <datalist id="listaEscuelas">

            <option value="IPN">Politecnico</option>
            <option value="FESARAGON">Facultad de Estudios Superiores Aragón</option>
            <option value="UAM">U.A.M.</option>
            <option value="CU">C.U.</option>

        </datalist>
        <br><br>

        <label for="input4">Dependencia: </label>
        <input type="text" id="input4" maxlength="50" required placeholder="Ingresa la dependencia">

        
        <div>
            <br><br><br><br><br>
            <button onclick="generarQR()" style="font-size: 20px;">Generar QR</button>

            <button onclick="location.href='./qr'" style="font-size: 20px;">Generar nuevo QR</button>
        </div>

        <br><br>

        <div style="text-align: center;" id="qr-code">

        </div>


        </div>


    </div>
</body>


<script src="./qr.js"></script>
</html>